#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-hover {
  background-color: transparent;
  border: 2px solid violet;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-hover:hover {
  background-color: navy;
  transform: scale(1.04);
}

.button-box {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.button-box button {
  padding: 10px 16px;
    font-size: 16px;
  cursor: pointer;
  border: 2px solid magenta;
  border-radius: 15px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.2s;
}

.button-box button:hover {
  background-color: skyblue;
  color: black;
  transform: scale(1.04);

}

.cards {
  border: 2px solid magenta;
  border-radius: 25px;
    margin: 20px auto 20px auto;
}
.card{
   border: 2px solid magenta;
  border-radius: 25px;
  margin: 20px auto 20px auto;
max-width:80% ;
  padding: 10px;
}